
/*new css*/
ul {
	list-style-type: none;
}

textarea{
	resize: none;
}

#bottomFrame  {
	text-align: center;
}

#bottomFrame a {
	text-decoration: none;
}

#topFrame {
	padding: 20px 0;
	transition: padding .3s;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

/*contact*/
#commContact {
	resize: none;
	width: 100%;
	height: 150px;
	color: black;
}

#sendContact {
	width: 30%;
	height: 30px;
	text-align: center;
	color: white;
	cursor: pointer;
}

#contactMe{
	box-shadow: 0px 5px 10px black, 
              -10px 5px 15px black, 
               10px 5px 15px black;
    margin-bottom: 10px;
}

.nt-red {
	background-color: #FA5858;
}

.nt-undo-blue {
	background-color: #073763;
}

.nt-light-blue {
	background-color: #A9A9F5;
}

.nt-active-button {
	background-color: #0b5394;
}

.nt-bg-white {
	background-color: white;
}

.nt-font-cl{
	color: white;
}

.nt-font-cl-black{
	color: black;
}

/*.nav-menu {
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
}*/

.nav-menu {
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	position: relative;
	/*padding-bottom: 1px;*/
}
.nav-menu:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-menu:hover:after {
	width: 100%;
	background: white;
}

.nav-menuFocus:hover:after {
	width: 100%;
	background: black;
}

/*.menuFocus {
	color: #A9F5D0;
}*/

.menuSelected {
 	/*background-color: #A9F5D0;
 	color: #FA5858;
 	text-align: center;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
 	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
 	width: 100%;
	background: black;
	border-bottom: 3px solid black;
  	text-decoration: none;
  	width: 100%; */
}

.highRectSection {
 	height: 450px;
}

.highSectionProject {
 	height: 200px;
}

.spaceSection {
 	height: 50px;
}

.highRectMottoSection {
 	height: 650px;
}


.item-contact {
	font-size: 20px;
	text-align: left;
	padding: 10px 0px 10px 10px;
}

.inputField { 
	border: 0px;
	border-bottom: solid 1px;
	width: 100%;
	color: black;
}

.field-inp {
	border-bottom: solid 1px;
	height: 50px;
}

.text-contc {
	height: 53px;
}

.itemToRight {
	float: right;
}

.itemToleft {
	float: left;
}

.nt-box-shadow{
	box-shadow: 0px 5px 10px black, 
              -10px 5px 15px black, 
               10px 5px 15px black;
    margin-bottom: 10px;
}

.nt-box-project{
	cursor: pointer;
	transition: all 0.5s ease;
}

.nt-box-project-focus{
	background: green;
}

/*test*/
 .red {
 	background-color: red;
 }

 .yellow {
 	background-color: yellow;
 }

 .blue {
 	background-color: blue;
 }

 .black {
 	background-color: black;
 }
 /*test*/

 

